[server]
http="0.0.0.0:80"
https="0.0.0.0:443"
domains=["api.example.com", "example.com"]

[[service]]
name="api"
domain="api.example.com"
host="http://127.0.0.1:8081"

[[service]]
name="default"
domain="example.com"
host="http://127.0.0.1:8080"
